// Fonts import //
@font-face {
    font-family: 'master_of_break';
    src: url('../../../assets/fonts/master_of_break-webfont.woff2') format('woff2'),
        url('../../../assets/fonts/master_of_break-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanami-bld';
    src: url('../../../assets/fonts/nanami-bold-webfont.woff2') format('woff2'),
        url('../../../assets/fonts/nanami-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanami-book';
    src: url('../../../assets/fonts/nanami-book-webfont.woff2') format('woff2'),
        url('../../../assets/fonts/nanami-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanami-regular';
    src: url('../../../assets/fonts/nanami-regular-webfont.woff2') format('woff2'),
        url('../../../assets/fonts/nanami-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$master-of-break: 'master_of_break', sans-serif;

$nanami-regular:'nanami',sans-serif;
$nanami-bold: 'nanami-bld',sans-serif;
$nanami-book: 'nanami-book', sans-serif;