// Colors //

$pink: #ff7e66;
$pink-hover: #ff4a29;
$peachy: #fff2ed;
$light-grey: #fff2ee;
$grey: #9f9a97;
$yelllow: #fff581;
$black: #120203;
$strong-red: #f01b16;
//social media colors
$fb-color: #3b5998;
$tw-color: #79c8e3;
$in-color: #0e76a8;
$ing-color: #3f729b;
$v-color: #26a6d1;

// Font sizes //

$baseFontSize: 16px;
$h2-font-size: 2em;
$h3-font-size: 1.5em;
$text-font-size: 1.2em;

// Media queries breakpoints //

$Medium: 768px;
$Large: 992px;




