.contact{
    text-align: center;
    background-color: $light-grey;
    .form-group{
        @include background('../../assets/img/contact/contact-cover.png', cover, center);
        background-repeat: no-repeat;
        padding: 5% 0;
    }
    .form{
        @include flex(flex, center, center, column);
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
        &--inline{
            width: 100%;
        }
        &__input, &__text{
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            @include font($nanami-book, $base-font-size, white);
            letter-spacing: 3px;
            resize: none;
            background-color: transparent;
            border: 1px solid lightgrey;
        }
        &__input::placeholder{
            @include font($nanami-bold, $base-font-size, white);
            color: white;
        }
        &__input:focus, &__text:focus{
            outline: none;
        }
        &__button{
            width: 100%;
        }
    }
    &__info{
        height: 100vh;
        @include flex(flex, center, space-evenly, column);
    }
    .block{
        @include size(70%, 30%);
        margin: 10px auto;
        &__description{
            @include size(100%, 50%);
            @include flex(flex, center, space-evenly, column);
            padding: 15px;
            background-color:white;
            text-transform: uppercase;
        }
        &__title, &__content{
            @include font($nanami-regular, $base-font-size, $black);
        }

        &__cover{
            height: 50%;
            @include flex-center();
            background-position: center;
            background-size: cover;
        }
        &--email>.block__cover{
            background-image: url('../../assets/img/contact/email-block-img.png');
        }
        &--address>.block__cover{
            background-image: url('../../assets/img/contact/address-block-img.png');
        }
        &--phone>.block__cover{
            background-image: url('../../assets/img/contact/phone-block-img.png');
        }
    }
}

//screen > 640px
@mixin contact\@screen_small{
    .contact{
        &__info{
            @include size(70%, auto);
            margin: 0 auto;
            flex-direction: row;
            padding: 5% 0;
            .block{
                margin: 5px;
                @include size(30%, 30vh);
                min-width: 150px;
            }
        }
       
    }
}

//screen > 1024px
@mixin contact\@screen_wide {
    .contact{
        .form{
            &--inline{
                @include flex(flex,center,space-between,row);
                margin-bottom: 30px;
            }
            &__input{
                flex-grow: 1;
                &:nth-child(2){
                    margin: 0 30px;
                }
            }
            &__text{
                margin-bottom: 30px;
            }
        }
    }
}
//screen > 1280px
@mixin contact\@screen_mega{
    .contact{
        .form{
            width: 60%;
        }
    }
}