.footer{
    text-align: center;
    padding: 20px 0;
    &__logo{
        @include font($master-of-break, $h2-font-size, red);
    }
    &__copyright{
        @include font($nanami-book, $base-font-size, $grey);
        margin: 10px;
    }
    .social{
        @include flex(flex,center, center, row);
        margin: 0 auto 10px auto;
        &__box{
            @include size(35px,35px);
            @include flex-center();
            background-color: black;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
            transition: .5s;
            &--facebook{
                background-color: $fb-color;
            }
            &--twitter{
                background-color: $tw-color;
            }
            &--linkedin{
                background-color: $in-color;
            }
            &--instagram{
                background-color: $ing-color;
            }
            &--vimeo{
                background-color: $v-color;
            }
        }
        &__box:hover{
            background-color: black;
        }
    }
}
