.header{
    &__slide{
        position: relative;
        height:70vh;
        @include flex-center();
        flex-direction: column; 
        @include background('../../assets/img/header/header-cover.png', cover, center);
        margin-top: 10vh;
        background-color: black;
    }

    &__scrollDown{
        position: absolute;
        bottom: 10%;
        cursor: pointer;
    }
}

// screen > 1024px
@mixin header\@screen_wide {
    .header{
        height: 90vh;
        margin-top: 10vh;
        &__slide{
            height: 100%;
        }
    }
}