.map-group{
    @include size(100%, 50vh);
    position: relative;
    &__title{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }
    &__logo{
        display: inline-block;
        vertical-align: middle;
    }
    &--background{
        position: absolute;
        @include size(100%,100%);
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
    }
}
.map{
    @include size(100%, 100%);
}