.map-group{
    @include size(100%, 50vh);
    position: relative;
    &__title{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }
    &__logo{
        display: inline-block;
        vertical-align: middle;
    }
    &__background{
        position: absolute;
        display: block;
        @include size(100%,100%);
        z-index: 1;
        background-color: rgba(0,0,0,0.5);
        opacity: 1;
        transition: .3s;
        &--hidden{
            display: none;
        }
        &--visuallyhidden{
            opacity: 0;
            transition: .3s;
        }
    }
  
}
.map{
    @include size(100%, 100%);
}